.container {
    padding: 15px 9%;
    padding-bottom: 100px;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box h3 {
    color: #000000;
    font-size: 22px;
    padding: 10px 0;
}

.container .box-container .box h6 {
    color: #000000;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box p {
    color: #000000;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover {
    letter-spacing: 1px;
}

.container .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

@media (max-width:768px) {
    .container {
        padding: 20px;
    }
}



.white {
    background: rgba(255, 255, 255);
}

.red {
    background: rgb(222, 48, 0);
}

.blue {
    background: rgba(0, 20, 170);

}

.green {
    background: rgba(0, 255, 60);
}

.yellow {
    background: rgb(238, 242, 0);
}

.purple {
    background: rgba(118, 0, 197);
}

.orange {
    background: rgba(255, 174, 0);
}
