* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

body::before {
    background: url('../images/background.jpeg') center / cover no-repeat;
    filter: blur(5px);
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

header {
    z-index: 3;
    height: 15vh;
    width: 50vw;
    background-size: cover;
}

.fixed {
    height: auto;
    width: auto;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
}

.nb {
    background: white;
    position: absolute;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.nb a {
    color: black;
}

.nb .logo {
    font-size: 2em;
    font-weight: bold;
}

.nb .nav-links ul {
    display: flex;
}

.nb .nav-links ul li {
    margin: 0 25px;
}

.nb .menu-hamburger {
    display: none;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 35px;
}

@media screen and (max-width: 750px) {
    .nb {
        padding: 0;
    }

    .nb .logo {
        position: absolute;
        top: 40px;
        left: 30px;

    }

    .nb .menu-hamburger {
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(212, 210, 210, 0.011);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
    }

    .nb .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2 rem;
    }
}

.logout {
    width: 30px;
    height: 50px;
}

.btn-add-note {
    width: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* .list-notes {
  margin-left: 20px;
} */

.btn-add-category {
    width: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 110px;
    margin-bottom: 10px;
}

.btn-edit-category {
    width: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-edit-category {
    width: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagin {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
